@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    z-index: 2;
}

body{
    background-color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #012086;
    padding: 10px 20px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: relative;
    height: 20%;
    width: 100%;
}

.nav a {
    text-decoration: none;
}

.nav h1 {
    color:  #ffbb00; 
    font-weight: normal;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
    margin: 0; 
}

.nav h1:hover {
    color:  #a57e00; 
}

.foto-perfil {
    width: 3em;
    height: 3em;
    border-radius: 70px;
    margin: 0; 
}

.login-btn {
    background-color: #147a04;
    border-radius: 18px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: auto;
    text-decoration: none;
}

@media screen and (max-width: 768px) { 
    .-nav h1{
        font-size: 2rem;
    }

    .nav img{
        width: 2rem;
        height: 2rem;
    }

}