

/* Estilo para a barra lateral */
.sidebar {
    top:0px;
    height: 750px;
    width: 0%;
    position: absolute;
    z-index: 1;
    left: 0;
    background: linear-gradient(to top, rgb(62, 2, 102), blue);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    width: 60px;
}

/* Estilo para o botão de abrir/fechar a barra lateral */
#openBtn {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 2;
}

/* Estilos CSS para os botões */
.menu-button {
    background-color: blue;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.8s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%)
}

.menu-button:hover{
    background-color: blue;
}


element.style {
    margin-left: 0px;
    background-color: blue;
}

/* Estilo adicional para os botões de menu */
.menu-button i {
    font-size:27px;
    vertical-align:top;
    align-items: center;
    color: white;
}

.search {
    margin-top: 90px;
    display: flex;
    width: 50%;
    height: 20px;
}

.search i{
    margin-top: 10px;
    bottom: 10px;
    font-size: 200%;
    color:#ffffff;
    margin-left: 15px;
    cursor: pointer;
}

/* Estilo padrão do ícone sem animação */
.fa-magnifying-glass {
    font-size: 24px;
}

/* Estilo da animação quando o mouse estiver sobre o ícone */
.fa-magnifying-glass:hover {
    animation: bounce 0.5s;
}

/* Definição da animação 'bounce' */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


.search input[type="text"] {
    margin-top: 10px;;
    margin-left: 15px;
    width: 180px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none; /* Remove o contorno padrão ao clicar */
}

.item_sidebar{
    display: flex;
    margin-top: 10%;
    cursor: pointer;
}

.icone_sidebar{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 9px;
    margin-bottom: -30px;
}

.card_esquerda{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
    background-color: #ffffff;
    padding: 10px;
    width: 180px;
    height: 50px;
    max-width: 180px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

h2{
    margin-left:70px;
}

form{
    margin-left:70px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
    margin-left: 70px;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    flex: 1;
    padding: 20px;
}

/* Estilos para o ícone da calculadora */
.calculator-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
}

/* Estilos para a calculadora */
*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,black, crimson);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: fixed;
    top: 415px;
    left: 1170px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 1px;
}

.form label, .form input, .form select{
    border-radius: 10px;
    border-color: black;
}

#add{
    color:#ffffff;
    background-color:rgb(22, 63, 241);
    border-radius: 20px;
}