.Links{
    color: white;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #3498db;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

/* Estilos específicos para a seção de boas-vindas */
#welcome {
    text-align: center;
}

/* Estilos específicos para a seção de produtos em destaque (pode ser estilizada de acordo com sua necessidade) */
#featured-products {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
        /* Estilos para o ícone da calculadora */
        .calculator-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #337ab7;
            color: #fff;
            border: 1px solid #337ab7;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            z-index: 999;
        }

        /* Estilos para a calculadora */
        *{
            margin: 0;
            padding: 0;
        }
        .fundo{
            background-image: linear-gradient(45deg,black, crimson);
            height: 100vh;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .calculadora{
            position: fixed;
            top: 415px;
            left: 1170px;
            background-color: rgba(0, 0, 0, 0.8);
            transform: translate(-50%,-50%);
            border-radius: 15px;
            padding: 15px;
        }
        .botao{
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            margin: 3px;
            background-color: rgb(31,31,31);
            border: none;
            color: #fff;
        }
        .botao:hover{
            background-color: black;
        }
        #resultado{
            background-color: white;
            width: 207px;
            height: 30px;
            margin: 5px;
            font-size: 25px;
            color: black;
            text-align: right;
            padding: 1px;
        }

        