@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
}

header {
    background-color: #C0C0C0;
    padding: 20px 40px;
    text-align: center;
}

header h1, header h4 {
    color: #000000; /* Corrigi a cor do texto */
    display: block;
    margin-bottom: 20px;
}

.anexo-pdf {
    border: 2px solid #ccc;
    border-radius: 10px; /* Reduz a borda */
    padding: 30px; /* Reduz o espaço interno */
    max-width: 700px; /* Reduz a largura máxima */
    margin: 390px; /* Centraliza a caixa */
    margin-left: 210px; /* Adiciona margem à esquerda */
}

.anexo-pdf form {
    margin-top: 40px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #C0C0C0;
}

h1, h4 {
    margin-left: 40px;
    position: relative;
    display: inline-block;
}

h1::after, h4::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    height: 50px;
    max-width: 100%;
    background-color: #C0C0C0;
    display: block;
    z-index: -1;
}

h4 {
    display: block;
    margin-top: 0;
}

.box-imagem {
    position: absolute;
    top: 92px;
    right: 0px;
    width: 38%;
}

.box-imagem img {
    max-width: 100%;
    height: auto;
}
